{{ partial "head" . }}
{{ partial "header" . }}
<main>
  <article>
    <header>
      <h1 class='title'>
        {{- .Title -}}
      </h1>
      <!-- dataに指定されている日時よりも、30分以上後にGIT更新されていたら -->
      {{- $postedDate := (time .Date).Add 1800000000000 -}}
      <span class="date">{{ .Date.Format "January 02, 2006" }}</span>
    </header>
    {{ $images := findRE "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" /></p>" .Content }}
    {{ $.Scratch.Set "content" .Content | safeHTML}}
    {{ range $images }}
      {{ $imgPath := . | replaceRE "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" /></p>" "$1" }}
      {{ $originImgPath := printf "static%s" $imgPath }}
      {{ $altStr := . | replaceRE "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\" /></p>" "$2" }}
      {{ $img := imageConfig $originImgPath }}

      {{ $reAltOut := printf "<figure><div style=\"max-width: %d; max-height: %d;\"><div style=\"padding-bottom: %f&#037;;\"></div><img src=\"%s\" alt=\"%s\"></div><figcaption>%s</figcaption></figure>" $img.Width $img.Height (mul (div (float $img.Height) $img.Width) 100.0) $imgPath $altStr $altStr}}

      {{ $altContent := $.Scratch.Get "content"}}
      {{ $altContent := replace $altContent . $reAltOut | safeHTML}}
      {{ $.Scratch.Set "content" $altContent}}
    {{ end }}
    {{ $.Scratch.Get "content" }}
    {{ with .Params.category }}
    <p>{{ range . }} <a class="category" href="/category/{{ . | urlize }}/">{{ . }}</a>{{ end }}</p>{{ end }}
    <p><span class="date">{{ $modDate := (time .Page.Lastmod) }} 
     {{- if $modDate.After $postedDate -}}Updated: {{ $modDate.Format "January 02, 2006"}}
     {{- end -}}</span></p>
  </article>
</main> 
{{ partial "footer" . }}