{{ partial "head" . }}
{{ partial "header" . }}
<main>
  <article>
    <header>
      <h1 class='title'>
        {{- .Title -}}
      </h1>
      <!-- dataに指定されている日時よりも、30分以上後にGIT更新されていたら -->
      {{- $postedDate := (time .Date).Add 1800000000000 -}}
      <span class="date">{{ .Date.Format "January 02, 2006" }}</span>
    </header>
    {{ $.Scratch.Set "content" .Content | safeHTML}}
    {{ $.Scratch.Get "content" }}
    {{ with .Params.category }}
    <p>{{ range . }} <a class="category" href="/category/{{ . | urlize }}/" data-cate="{{ . }}">{{ . }}</a>{{ end }}</p>{{ end }}
    <p><span class="date">{{ $modDate := (time .Page.Lastmod) }} 
     {{- if $modDate.After $postedDate -}}Updated: {{ $modDate.Format "January 02, 2006"}}
     {{- end -}}</span></p>
  </article>
</main> 
{{ partial "footer" . }}