<div id="navFloat" class="nav-float">
  <nav>
    <ul>
      <li><a href="/about/">About</a></li>
      {{ $tags := site.GetPage "/category" }}
      {{ range $tags.Pages }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
      <li><a href="/">Home</a></li>
      <li class="nav-close"><a href="#" id="closeNav">Close</a></li>
    </ul>
  </nav>
</div>

<!-- switch for iOS Haptic Feedback -->
<label class="nav-open" id="navToggleSwitch">
  <a href="#" id="openNav">Menu</a>
  <input type="checkbox" switch>
</label>

<script>
  const menu = document.getElementById("navFloat");
  const btnMenuOpen = document.getElementById("openNav");
  const btnMenuClose = document.getElementById("closeNav");
  const navToggleSwitch = document.getElementById("navToggleSwitch");

  let openMenu = function (event) {
    event.preventDefault();
    menu.classList.add('nav-float-active');
    navToggleSwitch.click()
  }
  let closeMenu = function (event) {
    event.preventDefault();
    menu.classList.remove('nav-float-active');
    navToggleSwitch.click()
  }

  // btnMenuOpen.addEventListener('touchstart', openMenu);
  btnMenuOpen.addEventListener('click', openMenu);

  // btnMenuClose.addEventListener('touchstart', closeMenu);
  btnMenuClose.addEventListener('click', closeMenu);
</script>
</body>